<h2>About EXO and EXO-L Indonesia</h2>
<p>EXO (bahasa Korea: 엑소) adalah sebuah grup vokal pria Korea Selatan-Tiongkok yang berbasis di Seoul. Grup ini dibentuk oleh SM Entertainment pada tahun 2011 dan debut pada tahun 2012.</p>
<p>Grup ini beranggotakan sembilan orang yaitu:</p>
<li>Xiumin</li>
<li>Suho</li>
<li>Lay</li>
<li>Baekhyun</li>
<li>Chen</li>
<li>Chanyeol</li>
<li>D.O.</li>
<li>Kai</li>
<li>Sehun</li>
<p>EXO-L Indonesia adalah penggemar (fandom) EXO yang berasal dari Indonesia.</p>